<div class="container">
	<div class="row">
		<div class="col-md-12">
      <%= form_tag(root_path, :method => :get) do %>
        <div class="input-group" id="adv-search">
          <%= text_field_tag 'search',@url,:class=>"form-control" ,:placeholder=>"Search" %>
          <div class="input-group-btn">
            <div class="btn-group" role="group">
              <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                <span><%= fa_icon "search" %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
	</div>
</div>
<% if !@arr.nil? && !@url.nil? %>
  <div class="container results">
    <div class="row">
      <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><b>Type</b></th>
                <th><b>Title</b></th>
                <th><b>Price</b></th>
              </tr>
            </thead>
            <tbody>
              <% @arr.each do |item| %>
                <tr>
                  <td><%= item["type"] %></td>
                  <td><%= item["title"] %></td>
                  <td><%= item["price"] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
<% elsif @arr.nil? && !@url.nil? %>
  <div class="container results">
    <div class="row">
      <div class="col-md-12" style="text-align:center;">
        <h2>No results found</h2>
      </div>
    </div>
  </div>
<% end %>
